*.ipynb_checkpoints
*checkpoints
*slurm*
*__pycache*
.vscode
*.env
*.json
.conda/*
layer_x_layer/data_gen/ply_files/*
layer_x_layer/data_gen/glb_conversion.log
layer_x_layer/data_gen/temp_vox/*
layer_x_layer/data_gen/voxels/512/000-000/*
description_data_generation/objaverse_images/*
description_data_generation/objaverse_descriptions/*
description_data_generation/.env
description_data_generation/image_upload.log
description_data_generation/LLaVA-NeXT/*
description_data_generation/check_objaverse_images/*
description_data_generation/objaverse_xl/*
description_data_generation/evaluator_assignments.py
description_data_generation/users_may_25.csv
description_data_generation/objaverse_descriptions_old/*
description_data_generation/objaverse_images_old/*
description_data_generation/objaverse_parallel/objaverse_images/*
description_data_generation/objaverse_parallel/check_objaverse_images/*
description_data_generation/objaverse_parallel/description_parallel/logs/*
description_data_generation/objaverse_parallel/download_parallel/logs/*
description_data_generation/objaverse_parallel/render_parallel/logs/*
description_data_generation/objaverse_parallel/render_parallel/check_objaverse_images/*
description_data_generation/objaverse_parallel/render_parallel/objaverse_images/*
description_data_generation/objaverse_parallel/objaverse_descriptions/*
description_data_generation/objaverse_parallel/description_parallel/objaverse_metadata_cache_worker_*.json
description_data_generation/objaverse_parallel/description_parallel/objaverse_metadata_cache_worker_1.json
description_data_generation/objaverse_parallel/description_parallel/objaverse_metadata_cache_worker_2.json
description_data_generation/objaverse_parallel/description_parallel/objaverse_metadata_cache_worker_3.json
description_data_generation/objaverse_parallel/description_parallel/objaverse_metadata_cache_worker_4.json
description_data_generation/objaverse_parallel/description_parallel/objaverse_metadata_cache_worker_5.json
description_data_generation/objaverse_parallel/description_parallel/objaverse_metadata_cache_worker_6.json
description_data_generation/objaverse_parallel/description_parallel/objaverse_metadata_cache_worker_7.json
description_data_generation/objaverse_parallel/description_parallel/objaverse_metadata_cache_worker_8.json
layer_x_layer/layer_x_layer_from_scratch/data/*
description_data_generation/objaverse_parallel/download_parallel/.env
description_data_generation/objaverse_parallel/download_parallel/objaverse_download_job_*.log
*.log
*.npy
*.glb
*.ply
*.obj
*.png
*.jpg
*.pkl
*.out
*.err
layer_x_layer/training_from_scratch/data/cifar-10-batches-py/data_batch_1
layer_x_layer/training_from_scratch/data/cifar-10-batches-py/data_batch_2
layer_x_layer/training_from_scratch/data/cifar-10-batches-py/data_batch_3
layer_x_layer/training_from_scratch/data/cifar-10-batches-py/data_batch_4
layer_x_layer/training_from_scratch/data/cifar-10-batches-py/data_batch_5
layer_x_layer/training_from_scratch/data/cifar-10-python.tar.gz
layer_x_layer/training_from_scratch/data/cifar-10-batches-py/test_batch
layer_x_layer/training_from_scratch/data/cifar-10-batches-py/readme.html
*.json
layer_x_layer/training_from_scratch/t5_cache/embeddings.db
*.pth
*.db
*_cache*.json
*.pth
*.pkl
*.zip
build/
