*.ipynb_checkpoints
*checkpoints
*slurm*
*__pycache*
.vscode
layer_x_layer/data_gen/ply_files/*
layer_x_layer/data_gen/glb_conversion.log
layer_x_layer/data_gen/temp_vox/*
layer_x_layer/data_gen/voxels/512/000-000/*
description_data_generation/objaverse_images/*
description_data_generation/objaverse_descriptions/*
description_data_generation/.env
description_data_generation/image_upload.log
description_data_generation/LLaVA-NeXT/*
